@charset "UTF-8";
/*
 * 参考
 * https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.inner {
  margin: auto;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 37.5rem;
    padding: 0 1.5625rem;
    max-width: 75rem;
  }
}

.contact__inner {
  padding-top: 38px;
  padding-top: 2.375rem;
  padding-bottom: 92px;
  padding-bottom: 5.75rem;
  padding-left: 70px;
  padding-left: 4.375rem;
  padding-right: 70px;
  padding-right: 4.375rem;
}

.about__inner {
  padding: 30px 20px;
  padding: 1.875rem 1.25rem;
}

.about__img:not(:last-child) {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.plan__img:not(:last-child) {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
.plan__img:nth-of-type(2) {
  padding: 0 20px;
  padding: 0 1.25rem;
}
.plan__img:nth-of-type(3) {
  padding: 0 20px;
  padding: 0 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.faq__inner {
  background-color: #ffee62;
  padding: 0 30px;
  padding: 0 1.875rem;
  position: relative;
}
.faq__inner::before {
  content: "";
  background: url("../img/page/faq_bgTop.png") 0 0 no-repeat;
  position: absolute;
  background-size: contain;
  height: 100%;
  max-height: 240px;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  max-width: 1280px;
}
.faq__inner::after {
  content: "";
  background: url("../img/page/faq_bgBottom.png") 0 0 no-repeat;
  background-size: contain;
  height: 100%;
  max-height: 128px;
  position: absolute;
  bottom: -128px;
  left: 0;
  width: 100%;
  max-width: 1280px;
}
@media screen and (min-width: 768px) {
  .faq__inner {
    padding: 0 6.25rem;
  }
}
/*# sourceMappingURL=style.css.map */
