@charset "UTF-8";
/*
 * 参考
 * https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.inner {
  margin: auto;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 37.5rem;
    padding: 0 1.5625rem;
    max-width: 75rem;
  }
}

/*==================================================
遅延表示
===================================*/
.delay > * {
  opacity: 0;
}

/*==================================================
ふわっ
===================================*/
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.btnAnimation:hover {
  display: inline-block;
  opacity: 0.8;
}

@media screen and (max-width: 838px) {
  .fadein {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .fadein.active {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.works__inner {
  margin-bottom: -90px;
  margin-bottom: -5.625rem;
}
@media screen and (min-width: 768px) {
  .works__inner {
    margin-bottom: -9.375rem;
  }
}

.contact__inner {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    padding-top: 2.375rem;
    padding-bottom: 5.75rem;
    padding-left: 4.375rem;
    padding-right: 4.375rem;
  }
}
.contact__inner.pt {
  padding-top: 20px;
  padding-top: 1.25rem;
}

/*===================================
 * キラキラアニメーション
===================================*/
.c-button._effect {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.c-button._effect::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 5%;
  height: 20%;
  background-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-animation: effecteffect 2.5s ease-in-out infinite;
          animation: effecteffect 2.5s ease-in-out infinite;
}

.c-button._effect:hover {
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

@-webkit-keyframes effecteffect {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes effecteffect {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
.about__inner {
  padding: 30px 20px;
  padding: 1.875rem 1.25rem;
}

.about__img:not(:last-child) {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.plan__img:not(:last-child) {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
.plan__img:nth-of-type(2) {
  padding: 0 20px;
  padding: 0 1.25rem;
}
.plan__img:nth-of-type(3) {
  padding: 0 20px;
  padding: 0 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.faq__inner {
  background-color: #ffee62;
  padding: 0 30px;
  padding: 0 1.875rem;
  position: relative;
  max-width: 1150px;
}
.faq__inner::before {
  content: "";
  background: url(../img/page/faq_bgTop.svg) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  max-height: 236px;
  max-height: 14.75rem;
  top: -224px;
  top: -14rem;
  left: 0;
  background-size: cover;
}
.faq__inner::after {
  content: "";
  background: url(../img/page/faq_bgTop.svg) no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  background-size: contain;
  width: 100%;
  height: 100%;
  max-height: 236px;
  max-height: 14.75rem;
  bottom: -224px;
  bottom: -14rem;
  left: 0;
  background-size: cover;
}
@media screen and (min-width: 768px) {
  .faq__inner {
    padding: 0 6.25rem;
    padding-bottom: 3.125rem;
  }
}

.p-faq-list__item:not(:last-child) {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.p-faq-list__item-answer {
  background-color: #fff;
  padding: 20px;
  padding: 1.25rem;
  border: 1px solid #ff6000;
  border-radius: 0.5rem;
  display: none;
}

.service__inner {
  margin-top: -90px;
  margin-top: -5.625rem;
  margin-bottom: -65px;
  margin-bottom: -4.0625rem;
}
@media screen and (min-width: 400px) {
  .service__inner {
    margin-bottom: -6.875rem;
  }
}
@media screen and (min-width: 768px) {
  .service__inner {
    margin-top: -9.375rem;
    margin-bottom: -13.125rem;
  }
}

.flow__inner {
  margin-bottom: -90px;
  margin-bottom: -5.625rem;
}
@media screen and (min-width: 768px) {
  .flow__inner {
    margin-bottom: -9.375rem;
  }
}

.bottom__inner {
  margin-top: 50px;
  margin-top: 3.125rem;
}
@media screen and (min-width: 768px) {
  .bottom__inner {
    margin-top: 9.375rem;
  }
}

.buttons-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  width: 100%;
  height: auto;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .buttons-container {
    width: 60%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

.follow-btn {
  padding: 10px 20px;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.follow-btn:hover {
  background-color: #0f5ec2;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
/*# sourceMappingURL=style.css.map */
