@charset "UTF-8";
/*
 * 参考
 * https://github.com/Andy-set-studio/modern-css-reset/blob/master/src/reset.css
*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*****************************************
 * 数値から単位を取り除く
 * 参考
 * https://css-tricks.com/snippets/sass/
******************************************/
/*****************************************
 * px→remの計算
 * 参考
 * https://webdou.net/sass-rem/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
/*****************************************
 * vwの計算
 * 参考
 * https://webdou.net/sass-vw/
 * Sassではmath.div関数の使用が推奨のため、スラッシュ(/)演算子から変更
******************************************/
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3333333333vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .inner {
    max-width: 31.25rem;
  }
}

.layout {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
@media screen and (min-width: 768px) {
  .layout {
    margin-bottom: 6.25rem;
  }
}

.l-img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .l-img {
    margin: 0 auto;
  }
}

.forPC {
  display: none;
}
@media screen and (min-width: 768px) {
  .forPC {
    display: block;
  }
}

.forSP {
  display: block;
}
@media screen and (min-width: 768px) {
  .forSP {
    display: none;
  }
}

/*==================================================
遅延表示
===================================*/
.delay > * {
  opacity: 0;
}

/*==================================================
ふわっ
===================================*/
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(2vw);
            transform: translateY(2vw);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.btnAnimation:hover {
  display: inline-block;
  opacity: 0.8;
}

@media screen and (max-width: 838px) {
  .fadein {
    opacity: 0;
    -webkit-transform: translate(0, 100px);
            transform: translate(0, 100px);
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .fadein.active {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

/*===================================
 * アスタリスク
===================================*/
.grid {
  font-size: 12px;
  font-size: 0.75rem;
}

.p-voice__inner {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}
.p-voice__title {
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
}

.p-voice-swiper {
  position: relative;
}

.p-voice-swiper .swiper-slide img {
  width: 100%;
  aspect-ratio: 920/1400;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-voice-swiper .swiper-pagination {
  bottom: -40px;
  bottom: -2.5rem;
}

.p-voice-swiper .swiper-pagination .swiper-pagination-bullet {
  border: 1px solid #333;
  background: #fff9ee;
}

.p-voice-swiper__button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.p-voice-swiper__button-wrap .swiper-button-prev,
.p-voice-swiper__button-wrap .swiper-button-next {
  width: 50px;
  width: 3.125rem;
  height: 50px;
  height: 3.125rem;
  background-color: #fff9ee;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .p-voice-swiper__button-wrap .swiper-button-prev,
  .p-voice-swiper__button-wrap .swiper-button-next {
    width: 3.75rem;
    height: 3.75rem;
  }
}

.p-voice-swiper__button-wrap .swiper-button-next {
  margin-left: 100px;
  margin-left: 6.25rem;
}

.p-voice-swiper__button-wrap .swiper-button-prev::before,
.p-voice-swiper__button-wrap .swiper-button-next::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  width: 0.625rem;
  height: 10px;
  height: 0.625rem;
  border-top: 3px solid #333;
  border-top: 0.1875rem solid #333;
  border-right: 3px solid #333;
  border-right: 0.1875rem solid #333;
}
@media screen and (min-width: 768px) {
  .p-voice-swiper__button-wrap .swiper-button-prev::before,
  .p-voice-swiper__button-wrap .swiper-button-next::before {
    width: 0.8125rem;
    height: 0.8125rem;
  }
}

.p-voice-swiper__button-wrap .swiper-button-prev::before {
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
}

.p-voice-swiper__button-wrap .swiper-button-next::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.swiper-button-next {
  right: 10%;
}

.swiper-button-prev {
  left: 10%;
}

.l-about {
  margin-bottom: clamp(10px, 5vw, 100px);
  margin-bottom: clamp(0.625rem, 5vw, 6.25rem);
}
@media screen and (min-width: 768px) {
  .l-about {
    margin-bottom: 9.375rem;
  }
}

.l-works {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
@media screen and (min-width: 768px) {
  .l-works {
    margin-bottom: 6.25rem;
  }
}

.l-service {
  margin-bottom: clamp(50px, 26vw, 230px);
  margin-bottom: clamp(3.125rem, 26vw, 14.375rem);
}
@media screen and (min-width: 768px) {
  .l-service {
    margin-top: 6.25rem;
    margin-bottom: 14.375rem;
  }
}

.l-plan {
  margin-bottom: clamp(20px, 20vw, 100px);
  margin-bottom: clamp(1.25rem, 20vw, 6.25rem);
}
@media screen and (min-width: 500px) {
  .l-plan {
    margin-bottom: clamp(1.25rem, 30vw, 6.25rem);
  }
}
@media screen and (min-width: 768px) {
  .l-plan {
    margin-top: 6.25rem;
    margin-bottom: 15.625rem;
  }
}

.l-flow {
  margin-top: -20px;
  margin-top: -1.25rem;
  margin-bottom: 75px;
  margin-bottom: 4.6875rem;
}
@media screen and (min-width: 768px) {
  .l-flow {
    margin-top: 6.25rem;
    margin-bottom: 15.625rem;
  }
}

.l-faq {
  margin-bottom: clamp(50px, 20vw, 110px);
  margin-bottom: clamp(3.125rem, 20vw, 6.875rem);
}
@media screen and (min-width: 768px) {
  .l-faq {
    margin-top: 6.25rem;
    margin-bottom: 15.625rem;
  }
}

.l-introduction {
  margin-bottom: 120px;
  margin-bottom: 7.5rem;
}
@media screen and (min-width: 768px) {
  .l-introduction {
    margin-bottom: 15.625rem;
  }
}

.l-greeting {
  margin-bottom: 140px;
  margin-bottom: 8.75rem;
}
@media screen and (min-width: 500px) {
  .l-greeting {
    margin-bottom: clamp(1.25rem, 30vw, 11.25rem);
  }
}
@media screen and (min-width: 500px) {
  .l-greeting {
    margin-bottom: clamp(1.25rem, 30vw, 11.25rem);
  }
}
@media screen and (min-width: 768px) {
  .l-greeting {
    margin-top: 6.25rem;
    margin-bottom: 14.0625rem;
  }
}

.l-footer {
  padding: 45px 0;
  padding: 2.8125rem 0;
  background-color: #021f59;
  min-height: 100px;
  min-height: 6.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .l-footer {
    padding: 1.25rem 0 1.25rem;
  }
}

.l-footer__nav {
  text-align: center;
  display: grid;
  gap: 10px;
  gap: 0.625rem;
}
@media screen and (min-width: 768px) {
  .l-footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1.875rem;
  }
}

.l-footer__nav-item {
  color: #fff;
}

.l-footer__nav-anchor {
  font-size: 14.4px;
  font-size: 0.9rem;
}

.works__inner {
  background-color: #ffee62;
  padding: 0 30px;
  padding: 0 1.875rem;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.works__inner::before {
  content: "";
  background: url(../img/page/works_bgTop.png) no-repeat;
  position: absolute;
  width: 100%;
  display: block;
  padding-top: 19.5%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
  z-index: -1;
}
.works__inner::after {
  content: "";
  background: url(../img/page/works_bgTop.png) no-repeat;
  padding-top: 19.5%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transform: rotate(180deg) translateY(-95%);
          transform: rotate(180deg) translateY(-95%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .works__inner {
    padding: 0 6.25rem;
  }
}

.works__img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .works__img {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .c-bottom {
    padding-bottom: 6.25rem;
  }
}

.contact__inner {
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  padding-left: 20px;
  padding-left: 1.25rem;
  padding-right: 20px;
  padding-right: 1.25rem;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .contact__inner {
    max-width: 40.625rem;
  }
}
.contact__inner.pt {
  padding-top: 20px;
  padding-top: 1.25rem;
}

/*===================================
 * キラキラアニメーション
===================================*/
.c-button._effect {
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.c-button._effect::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 5%;
  height: 20%;
  background-color: #fff;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-animation: effecteffect 2.5s ease-in-out infinite;
          animation: effecteffect 2.5s ease-in-out infinite;
}

@-webkit-keyframes effecteffect {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}

@keyframes effecteffect {
  0% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    -webkit-transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}
.about__inner {
  padding: 30px 20px;
  padding: 1.875rem 1.25rem;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .about__inner {
    max-width: 40.625rem;
  }
}

.about__img {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.header {
  height: 40px;
  height: 2.5rem;
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .header {
    height: 4.375rem;
  }
}

.header__inner {
  padding-left: 15px;
  padding-left: 0.9375rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .header__inner {
    padding: 0 3.125rem;
  }
}

.header__logo {
  max-width: 74px;
  max-width: 4.625rem;
  width: 100%;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__logo {
    max-width: 6.25rem;
  }
}

.header__logo a {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav {
  display: none;
  height: inherit;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
  }
}

.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.header__nav-item {
  height: inherit;
}

.header__nav-item.header__nav-item--contact {
  margin-left: 15px;
  margin-left: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-item a {
  padding: 0 15px;
  padding: 0 0.9375rem;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 500;
  line-height: 1;
  color: #333;
  text-transform: uppercase;
}

.header__nav-item.header__nav-item--contact a {
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
  position: relative;
  height: auto;
  height: initial;
  color: #fff;
  background-color: #de8430;
}

.header__nav-item.header__nav-item--contact a::after {
  content: "";
  margin-left: 10px;
  margin-left: 0.625rem;
  width: 11px;
  width: 0.6875rem;
  height: 12px;
  height: 0.75rem;
  display: inline-block;
  background-image: url(./../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.header__hamburger {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  position: relative;
  z-index: 999;
  width: 40px;
  width: 2.5rem;
  height: inherit;
  background-color: #de8430;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (min-width: 768px) {
  .header__hamburger {
    display: none;
  }
}

.header__hamburger.is-open {
  background-color: transparent;
}

.header__hamburger span {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 15px;
  width: 0.9375rem;
  height: 1px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__hamburger span:nth-of-type(1) {
  top: -4px;
  top: -0.25rem;
}

.header__hamburger span:nth-of-type(2) {
  top: 0;
}

.header__hamburger span:nth-of-type(3) {
  top: 4px;
  top: 0.25rem;
}

.header__hamburger.is-open span:nth-of-type(1) {
  top: 0;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
  top: -2px;
  top: -0.125rem;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
}

.header__drawer {
  padding: 228px 0;
  padding: 14.25rem 0;
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(98, 58, 20, .95);
  overflow-y: scroll;
  scrollbar-width: none;
}

.header__drawer::-webkit-scrollbar {
  display: none;
}

.header__drawer-item a {
  padding: 15px 0;
  padding: 0.9375rem 0;
  display: block;
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.05em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.header__drawer-item.header__drawer-item--contact a::after {
  content: "";
  margin-bottom: 5px;
  margin-bottom: 0.3125rem;
  margin-left: 20px;
  margin-left: 1.25rem;
  width: 15px;
  width: 0.9375rem;
  height: 15px;
  height: 0.9375rem;
  display: inline-block;
  background-image: url(./../images/common/contact-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.plan__inner {
  background-color: #ffee62;
  padding: 0 30px;
  padding: 0 1.875rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
  position: relative;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .plan__inner {
    padding-bottom: 6.25rem;
  }
}
.plan__inner::before {
  content: "";
  background: url(../img/page/works_bgTop.png) no-repeat;
  position: absolute;
  width: 100%;
  display: block;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
  z-index: -1;
}
@media screen and (min-width: 500px) {
  .plan__inner::before {
    padding-top: 30.5%;
  }
}
@media screen and (min-width: 768px) {
  .plan__inner::before {
    padding-top: 19.5%;
  }
}
.plan__inner:nth-of-type(2) {
  background-color: #fff;
}
.plan__inner:nth-of-type(2)::before {
  display: none;
}
@media screen and (min-width: 768px) {
  .plan__inner:nth-of-type(2) {
    padding-bottom: 0;
  }
}

.plan__img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .plan__img {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}
.plan__img:not(:last-child) {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}
.plan__img:nth-of-type(2) {
  padding: 0 20px;
  padding: 0 1.25rem;
}
.plan__img:nth-of-type(3) {
  padding: 0 20px;
  padding: 0 1.25rem;
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
}

.faq__inner {
  background-color: #ffee62;
  padding: 0 30px;
  padding: 0 1.875rem;
  position: relative;
  width: 100%;
}
.faq__inner::before {
  content: "";
  background: url(../img/page/works_bgTop.png) no-repeat;
  position: absolute;
  width: 100%;
  display: block;
  padding-top: 40%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
  z-index: -1;
}
@media screen and (min-width: 500px) {
  .faq__inner::before {
    padding-top: 33%;
  }
}
@media screen and (min-width: 768px) {
  .faq__inner::before {
    padding-top: 19.5%;
  }
}
.faq__inner::after {
  content: "";
  background: url(../img/page/works_bgTop.png) no-repeat;
  padding-top: 19.5%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transform: rotate(180deg) translateY(-95%);
          transform: rotate(180deg) translateY(-95%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .faq__inner {
    max-width: 100%;
  }
}

.p-faq-list__item:not(:last-child) {
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}

.p-faq-list__item-answer {
  background-color: #fff;
  padding: 20px;
  padding: 1.25rem;
  border: 3px solid #ff8519;
  border-radius: 0.5rem;
  display: none;
  font-weight: bold;
}
.p-faq-list__item-answer span {
  color: #ff8519;
}

.p-faq__title {
  max-width: 100%;
  margin-bottom: 20px;
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-faq__title {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}

.p-faq__list {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .p-faq__list {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}

.service__inner {
  background-color: #fff7b5;
  padding: 0 30px;
  padding: 0 1.875rem;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.service__inner::before {
  content: "";
  background: url(../img/page/service_bgTop.png) no-repeat;
  position: absolute;
  width: 100%;
  display: block;
  padding-top: 19.5%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
  z-index: -1;
}
.service__inner::after {
  content: "";
  background: url(../img/page/service_bgTop.png) no-repeat;
  padding-top: 30%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transform: rotate(180deg) translateY(-95%);
          transform: rotate(180deg) translateY(-95%);
  z-index: -1;
}
@media screen and (min-width: 500px) {
  .service__inner::after {
    padding-top: 33.5%;
  }
}
@media screen and (min-width: 768px) {
  .service__inner::after {
    padding-top: 19.5%;
  }
}

.service__img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .service__img {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}

.flow__inner {
  margin-bottom: -90px;
  margin-bottom: -5.625rem;
  background-color: hsl(47, 100%, 55%);
  padding: 0 30px;
  padding: 0 1.875rem;
  position: relative;
  max-width: 100%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .flow__inner {
    margin-bottom: -9.375rem;
  }
}
.flow__inner::before {
  content: "";
  background: url(../img/page/voice_bgBottom.png) no-repeat;
  position: absolute;
  width: 100%;
  display: block;
  padding-top: 19.5%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  -webkit-transform: rotate(180deg) translateY(95%);
          transform: rotate(180deg) translateY(95%);
  z-index: -1;
}
.flow__inner::after {
  content: "";
  background: url(../img/page/voice_bgBottom.png) no-repeat;
  padding-top: 19.5%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transform: translateY(95%);
          transform: translateY(95%);
  z-index: -1;
}

.flow__img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .flow__img {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}

.bottom__inner {
  margin-top: 50px;
  margin-top: 3.125rem;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .bottom__inner {
    max-width: 40.625rem;
    margin-top: 9.375rem;
  }
}

.buttons-container {
  position: sticky;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
  width: 100%;
  height: auto;
  z-index: 100;
}
@media screen and (min-width: 768px) {
  .buttons-container {
    width: 60%;
    right: 50%;
    -webkit-transform: translateX(35%);
            transform: translateX(35%);
  }
}

.follow-btn {
  padding: 10px 20px;
  background-color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.follow-btn:hover {
  background-color: #0f5ec2;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}

.voice__inner {
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  background-color: hsl(47, 100%, 55%);
  position: relative;
}
@media screen and (min-width: 768px) {
  .voice__inner {
    max-width: 100%;
  }
}
.voice__inner::after {
  content: "";
  background: url(../img/page/voice_bgBottom.png) no-repeat;
  position: absolute;
  padding-top: 19.5%;
  background-size: cover;
  background-position: center;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: translateY(95%);
          transform: translateY(95%);
}
.about__img:not(:last-child) {
  margin-bottom: 50px;
  margin-bottom: 3.125rem;
}

.p-voice__title {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .p-voice__title {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}

.introduction__inner {
  margin-bottom: -90px;
  margin-bottom: -5.625rem;
  padding: 0 30px;
  padding: 0 1.875rem;
}
@media screen and (min-width: 768px) {
  .introduction__inner {
    margin-bottom: -9.375rem;
  }
}

.introduction__img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .introduction__img {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}

.greeting__inner {
  background-color: #fff7b5;
  padding: 0 30px;
  padding: 0 1.875rem;
  position: relative;
  max-width: 100%;
  width: 100%;
}
.greeting__inner::before {
  content: "";
  background: url(../img/page/service_bgTop.png) no-repeat;
  position: absolute;
  width: 100%;
  display: block;
  padding-top: 19.5%;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-95%);
          transform: translateY(-95%);
  z-index: -1;
}
.greeting__inner::after {
  content: "";
  background: url(../img/page/service_bgTop.png) no-repeat;
  padding-top: 40%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transform: rotate(180deg) translateY(-95%);
          transform: rotate(180deg) translateY(-95%);
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .greeting__inner::after {
    padding-top: 19.5%;
  }
}

.greeting__img {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .greeting__img {
    max-width: 40.625rem;
    margin: 0 auto;
  }
}

.top__inner {
  max-width: 100%;
}
.p-privacy-policy__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #dfdfdf;
  padding: 150.4px 40px 96px 40px;
  padding: 9.4rem 2.5rem 6rem 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-privacy-policy__container {
    padding: 10rem 10rem;
  }
}

.p-privacy-policy__inner {
  margin: auto;
  padding: 0 20px;
  padding: 0 1.25rem;
  max-width: 600px;
  max-width: 37.5rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .p-privacy-policy__inner {
    padding: 0 1.5625rem;
    max-width: 75rem;
  }
}

.p-privacy-policy__introduction {
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .p-privacy-policy__introduction {
    font-size: 1.125rem;
  }
}

.p-privacy-policy__items {
  margin-top: 32px;
  margin-top: 2rem;
  padding-top: 20px;
  padding-top: 1.25rem;
  border-top: 1px solid #ccc;
}
@media screen and (min-width: 768px) {
  .p-privacy-policy__items {
    margin-top: 2.5rem;
    padding-top: 2.5rem;
  }
}

.p-privacy-policy__item {
  padding-bottom: 20px;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid #ccc;
}
@media screen and (min-width: 768px) {
  .p-privacy-policy__item {
    padding-bottom: 2.5rem;
  }
}

.p-privacy-policy__item + .p-privacy-policy__item {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .p-privacy-policy__item + .p-privacy-policy__item {
    margin-top: 2.5rem;
  }
}

.p-privacy-policy__term {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .p-privacy-policy__term {
    font-size: 1.25rem;
  }
}

.p-privacy-policy__description {
  margin-top: 15px;
  margin-top: 0.9375rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .p-privacy-policy__description {
    font-size: 1.125rem;
  }
}

.p-privacy-policy__description-numbers {
  counter-reset: number;
}

.p-privacy-policy__description-text + .p-privacy-policy__description-numbers,
.p-privacy-policy__description-text + .p-privacy-policy__description-items {
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.p-privacy-policy__description-number {
  padding-left: 15px;
  padding-left: 0.9375rem;
  text-indent: -15px;
  text-indent: -0.9375rem;
}

.p-privacy-policy__description-number + .p-privacy-policy__description-number,
.p-privacy-policy__description-item + .p-privacy-policy__description-item {
  margin-top: 15px;
  margin-top: 0.9375rem;
}

.p-privacy-policy__description-number::before {
  content: counter(number) ". ";
  counter-increment: number;
}

.p-privacy-policy__description-items {
  padding-left: 20px;
  padding-left: 1.25rem;
  list-style: disc;
}
/*# sourceMappingURL=style.css.map */
