@use "../foundation" as *;

.l-plan {
margin-bottom: clamp(rem(20), 20vw, rem(100));
  @include mq(ssm) {
    margin-bottom: clamp(rem(20), 30vw, rem(100));
  }
  @include mq(md) {
    margin-top: rem(100);
    margin-bottom: rem(250);
  }
}
