@use "../foundation" as *;

.l-service {
  margin-bottom: clamp(rem(50), 26vw, rem(230));
  // @include mq(ssm) {
  //   margin-bottom: rem(200);
  // }
  @include mq(md) {
    margin-top: rem(100);
    margin-bottom: rem(230);
  }
}

.bg_img {
}
