@use '../foundation' as *;

.faq__inner{
    // background-image: url("../img/page/faq_bg.png");
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: contain;
    background-color: #ffee62;
    padding: 0 rem(30);
    position: relative;
    &::before{
      content: "";
      background: url("../img/page/faq_bgTop.png") 0 0 no-repeat;
      position: absolute;
      background-size: contain;
      height: 100%;
      max-height: 240px;
      top: 0;
      left: 0;
      transform: translateY(-100%);
      width: 100%;
      max-width: 1280px;
    }
    &::after{
      content: "";
      background: url("../img/page/faq_bgBottom.png") 0 0 no-repeat;
      background-size: contain;
      height: 100%;
      max-height: 128px;
      position: absolute;
      bottom: -128px;
      left: 0;
      width: 100%;
      max-width: 1280px;
    }
    @include mq(md){
        padding: 0 rem(100);
    }
}
