@use "../foundation" as *;

.faq__inner {
  background-color: #ffee62;
  padding: 0 rem(30);
  position: relative;
  // max-width: 1150px;

  width: 100%;
  &::before {
    content: "";
    background: url(../img/page/works_bgTop.png) no-repeat;
    position: absolute;
    width: 100%;
    display: block;
    padding-top: aspect(1000, 400);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    transform: translateY(-95%);
    z-index: -1;
    @include mq(ssm) {
      padding-top: aspect(1000, 330);
    }
    @include mq(md) {
      padding-top: aspect(1000, 195);
    }
  }
  &::after {
    content: "";
    background: url(../img/page/works_bgTop.png) no-repeat;
    padding-top: aspect(1000, 195);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transform: rotate(180deg) translateY(-95%);
    z-index: -1;
  }

  @include mq(md) {
    // padding: 0 rem(100);
    max-width: 100%;
  }
}

.p-faq-list__item {
  &:not(:last-child) {
    margin-bottom: rem(20);
  }
}

.p-faq-list__item-answer {
  background-color: $color-white;
  padding: rem(20);
  border: 3px solid #ff8519;
  border-radius: rem(8);
  display: none;
}

.p-faq__title {
  max-width: 100%;
  @include mq(md) {
    max-width: rem(650);
    margin: 0 auto;
  }
}
.p-faq__list {
  max-width: 100%;
  @include mq(md) {
    max-width: rem(650);
    margin: 0 auto;
  }
}
