@use "../foundation" as *;

.buttons-container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  gap: 0;
  width: 100%;
  height: auto;
  z-index: 100;
  @include mq(md){
    width: 60%;
    right: 50%;
    transform: translateX(50%);
  }
}

.follow-btn {
  padding: 10px 20px;
  background-color: $color-white;
  transition: background-color 0.3s;
}

// .child {
//   flex: 1;
//   width: 50%;
//   text-align: center;
// }

.follow-btn:hover {
  background-color: #0f5ec2;
  transform: translateY(3px);
}
