@use "../foundation" as *;

.greeting__inner {
  margin-bottom: rem(-90);
  @include mq(md){
    margin-bottom: rem(-150);
  }

}


.greeting__img {
  max-width: 100%;
  @include mq(md) {
    max-width: rem(500);
    margin: 0 auto;
  }
}
