@use '../foundation' as *;

.plan__inner {
  margin-top: rem(30);
  @include mq(sm){
    margin-top: rem(30);
  }
  @include mq(md){
    margin-top: rem(30);
 }
}

.plan__img {
  &:not(:last-child) {
    margin-bottom:  rem(50);
  }

  &:nth-of-type(2) {
    padding: 0  rem(20);
  }
  &:nth-of-type(3) {
    padding: 0  rem(20);
    padding-bottom:  rem(20);
  }

}
