@use "../foundation" as *;

.plan__inner {
  @include mq(md) {
    padding-bottom: rem(100);
  }
  background-color: #ffee62;
  padding: 0 rem(30);
  padding-bottom: rem(50);
  margin-bottom: rem(20);
  position: relative;
  max-width: 100%;
  width: 100%;

  &::before {
    content: "";
    background: url(../img/page/works_bgTop.png) no-repeat;
    position: absolute;
    width: 100%;
    display: block;
    padding-top: aspect(1000, 300);
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    transform: translateY(-95%);
    z-index: -1;
    @include mq(ssm){
      padding-top: aspect(1000, 305);
    }
    @include mq(md){
      padding-top: aspect(1000, 195);
    }
  }

  &:nth-of-type(2) {
    background-color: #fff;
    &::before {
      display: none;
    }
    @include mq(md) {
      padding-bottom: 0;
    }
  }
}

.plan__img {
  max-width: 100%;
  @include mq(md) {
    max-width: rem(650);
    margin: 0 auto;
  }
  &:not(:last-child) {
    margin-bottom: rem(50);
  }

  &:nth-of-type(2) {
    padding: 0 rem(20);
  }
  &:nth-of-type(3) {
    padding: 0 rem(20);
    padding-bottom: rem(20);
  }
}
