@use '../foundation' as *;

.voice__inner {
  padding-top:  rem(70);
  padding-bottom:  rem(30);
  background-color: hsl(47, 100%, 55%);
  position: relative;
  @include mq(md){
    max-width: 100%;
  }
  &::after{
    content: "";
    background: url(../img/page/voice_bgBottom.png) no-repeat;
    position: absolute;
    padding-top: aspect(1000, 195);
    background-size: cover;
    background-position: center;
    width: 100%;
    bottom:  0;
    left: 0;
    z-index: -1;
    transform: translateY(95%);

    @include mq(md){
      // bottom:  rem(-224);
      // max-height: 15.75rem;
      // bottom: -18rem;
      // max-height: 19.75rem;
    }

  }

  h2 {
    @include mq(md){
      max-width:  rem(500);
      // max-width:  rem(950);
      margin: 0 auto;
    }
  }
}

.about__img {
  &:not(:last-child) {
    margin-bottom:  rem(50);
  }
}
